<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
<center>
	<br>
<h2>E-Pass</h2>
<img src={{res}} class="img-fluid" alt="Responsive image">
<div style="overflow-x:auto;">
<table class="table table-bordered" style="width: 75%">
    <tr>
      <th scope="col">Name</th>
      <td scope="col" style="text-align: center;">{{name}}</td>
    </tr>
    <tr>
      <th scope="col">Mobile Number</th>
      <td scope="col" style="text-align: center;">{{mobile}}</td>
    </tr>
    <tr>
      <th scope="col">E-mail Address</th>
      <td scope="col" style="text-align: center;">{{email}}</td>
    </tr>
    <tr>
      <th scope="col">Source Location</th>
      <td scope="col" style="text-align: center;">{{srcdist}}, {{srcstate}}</td>
    </tr>
    <tr>
      <th scope="col">Destination Location</th>
      <td scope="col" style="text-align: center;">{{destdist}}, {{deststate}}</td>
    </tr>
    <tr>
      <th scope="col">Date of Journey</th>
      <td scope="col" style="text-align: center;">{{doj}}</td>
    </tr>
</table>
</div>
</center>
</body>
</html>